BOT_TOKEN=8600966100:AAGE2y-qIDseArDRB-J_gGbcjc_oxcjVUxk
ADMIN_ID=796454505
CHANNEL_ID=-1001234567890
BUTTON_TEXT="Записаться"
BUTTON_URL="https://t.me/masherk"
STICKER_FILE_ID="CAACAgIAAxkBAAFLTtNqHq513Z9PXUeZavL5P20idj_-8QACQZkAAgI68Uj2qM8I9vD_2DsE"
