BOT_TOKEN=8600966100:AAF0Ct7v94k-C_LvLI-9DKQfG-ktVly3CWo
ADMIN_ID=123456789
CHANNEL_ID=-1001234567890
BUTTON_TEXT="Записаться"
BUTTON_URL="https://t.me/masherk"
STICKER_FILE_ID="CAACAgIAAxkBAAFLTtNqHq513Z9PXUeZavL5P20idj_-8QACQZkAAgI68Uj2qM8I9vD_2DsE"
