BOT_TOKEN=8600966100:AAF0Ct7v94k-C_LvLI-9DKQfG-ktVly3CWo
ADMIN_ID=123456789
CHANNEL_ID=-1001234567890
BUTTON_TEXT="Записаться"
BUTTON_URL="https://t.me/masherk"
STICKER_FILE_ID="AAMCAgADGQEAAUtO02oernXdn09dR5lq8vk_bSJ2P_7xAAJBmQACAjrxSPaozwj28P_YAQAHbQADOwQ"
